@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.north-lion {
    height: 150px;
    width: auto;
    justify-self: end;
    margin-bottom: -45px;
    z-index: 99;
}

.pe-flag {
    height: 150px;
    width: auto;
    margin-top: -15px;
    justify-self: start;
    margin-left: -30px;
    margin-bottom: -45px;
    z-index: 99;
}

body {
    font-family: Arial, sans-serif;
    background-color: #CACF85;
}

h1 {
    font-size: 2.6em;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Antic Didone', sans-serif;
    font-weight: 600;
    text-shadow: 4px 5px 2px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list li {
    background-color: white;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #95B28F;
    border-radius: 2.5px;
    border-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.list li h2 {
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 5px;
    color: black
}

.list li h3 {
    font-size: 0.8em;
    font-weight: 100;
    color: black;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 20px;
}

.list li p {
    font-size: 1.25em;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
}

.list li p.resumo {
    font-size: 1.15em;
    text-align: justify;
    text-indent: 30px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-right: 25px;
    color: black;
    line-height: 1.45em;
}

.list li p.date-published {
    font-size: 0.8em;
    font-weight: 100;
    color: black;
    font-style: italic;
    margin-top: 15px;
}

.list li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.list li a:hover {
    color: #CACF85;
}

.pagination {
     display: flex;
     justify-content: center;
     align-items: center;
     list-style: none;
     padding: 0;
     margin: 30px 0;
 }
 
 .pagination a {
     color: black;
     text-decoration: none;
     font-weight: bold;
     display: inline-block;
     padding: 8px 16px;
     margin: 0 4px;
     border-radius: 2.5px;
     transition: all 0.2s ease-in-out;
     background-color: #FFF;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }
 
 .pagination a:hover {
     background-color: #CACF85;
     color: white;
 }
 
 .pagination .active {
     background-color: #9fa364;
     color: white;
     pointer-events: none;
 }
 
 .pagination .ellipsis {
     display: inline-block;
     padding: 8px 16px;
     margin: 0 4px;
     font-style: italic;
     color: #999;
 }

@media only screen and (max-width: 1400px) {
    .list {
        margin-top: -50px;
    }
    h1 {
        margin-top: 10px;
        margin-bottom: 70px;
    }
}

@media only screen and (max-width: 640px) {
    .list li h2 {
        font-size: 1.8em;
    }
    .list li p.date-published {
        font-size: 1.6em;
        white-space: normal;
    }
    .list li h3 {
        font-size: 0.5em;
    }
    .list li p.resumo {
        font-size: 0.95em;
    }
    .list li span.read-more {
        font-size: 0.6em;
    }
    .north-lion {
        justify-self: center;
        width: 70%;
        height: auto;
        margin-top: 50px;
    }
    .north-lion {
        margin-right: 5px;
    }
    .pe-flag {
        margin-left: 20px;
        width: 70%;
        height: auto;
        margin-top: 45px;
    }
}

@media only screen and (max-width: 430px) {
    .header {
        grid-template-columns: 1fr;
    }
    .list li h2 {
        font-size: 1.2em;
    }
    .list li p.date-published {
        font-size: 0.8em;
        white-space: normal;
    }
    .list li h3 {
        font-size: 0.5em;
    }
    .list li p.resumo {
        font-size: 0.95em;
    }
    .list li span.read-more {
        font-size: 1em;
    }
    .north-lion {
        justify-self: center;
        margin-top: 20px;
    }
    .pe-flag {
        justify-self: center;
        margin-top: 1px;
        margin-left: 15px;
        display:none;
    }
    .header {
        grid-template-rows: auto auto;
        grid-row-gap: 20px;
    }
    .north-lion, .pe-flag {
        margin-bottom: 0;
        display:none;
    }
}