<!DOCTYPE html>
<html>
<head>
	<title>Novas Leis de Pernambuco</title>
	<meta name='description' content="O objetivo do projeto é tornar acessível e de fácil leitura os Projetos de Lei que são publicados pelo nossos deputados aqui do estado. De forma que nós, cidadãos, possamos nos engajar mais rapidamente e facilmente contra ou a favor de uma proposição, aumentando a participação pública no processo legislativo." />
    <meta name='og:description' content="O objetivo do projeto é tornar acessível e de fácil leitura os Projetos de Lei que são publicados pelo nossos deputados aqui do estado. De forma que nós, cidadãos, possamos nos engajar mais rapidamente e facilmente contra ou a favor de uma proposição, aumentando a participação pública no processo legislativo." />
    <meta name='og:type' content='website' />
    <meta name='og:title' content="Novas Leis de Pernambuco" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@ProjetosLeisPE" />
	<meta name="twitter:creator" content="@oliveruh_" />
	<link rel="icon" href="../static/img/pe-flag.webp" type="image/gif" >
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="../static/css/law_proposal_list.css">
</head>
<body>
	<div class="header" onclick="location.href='/';" style="cursor: pointer;">
	   <img class="north-lion" src="../static/img/north-lion.webp" />
	   <h1>Novas Leis de Pernambuco</h1>
	   <img class="pe-flag" src="../static/img/pe-flag.webp" />
	</div>
	<div class="container">
	   <ul class="list">
		{% for proposal in proposals %}
		  <li>
			 <div class="title">
				<h2 onclick="location.href='/projeto-de-lei/{{ proposal['id'] }}.html';" style="cursor: pointer;">{{ proposal['resumoTitulo'] }}</h2>
				<p class="date-published">Publicado em {{ proposal['dataPublicacao'] }}</p>
			 </div>
			 <hr>
			<h3><b>{{ proposal['nomeLei'] }}</b>, proposto por <b>{{ proposal['nomeAutor'] }}</b>.</h3>
			 <p class="resumo">{{ proposal['resumoProjeto'] }}</p>
			 <span class="read-more"><a href="/projeto-de-lei/{{ proposal['id'] }}.html">Leia Mais</a></span>
		  </li>
		{% endfor %}
	   </ul>

	   {% if pagination.pages > 1 %}
	   <div class="center">
			<div class="pagination">
				{% if pagination.has_prev %}
					<a href="/p/{{ current_page - 1 }}.html">&laquo;</a>
				{% endif %}

				{% for page_num in pagination.iter_pages() %}
					{% if page_num %}
						{% if page_num != pagination.page %}
							{% if page_num == 1 %}
								<a href="/">{{ page_num }}</a>
							{% else %}
								<a href="/p/{{ page_num }}.html">{{ page_num }}</a>
							{% endif %}
						{% else %}
							{% if page_num == 1 %}
								<a class="active" href="/">{{ page_num }}</a>
							{% else %}
								<a class="active" href="/p/{{ page_num }}.html">{{ page_num }}</a>
							{% endif %}
						{% endif %}
					{% else %}
						<span class="ellipsis">...</span>
					{% endif %}
				{% endfor %}

				{% if pagination.has_next %}
					<a href="/p/{{ current_page + 1 }}.html">&raquo;</a>
				{% endif %}

			</div>
	   </div>
	   {% endif %}
	</div>
 </body>
 </html>
